@mixin text-reset {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    text-align: left;
    text-align: start;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
  }
  
@mixin text-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin font-size($size) {
  font-size : $size;
}

@mixin text-align($align){
    text-align: $align;
}

@mixin font-family($family) {
  font-family: $family;
}
